<h1>Contacts</h1>

<hr>
<div class=row>
  <div class="col-md-6">
   <h4>Phone</h4>
   <p><%= number_to_phone "3333333333" %></p>
   <h4>Email</h4>
   <p><a href="mailto:test7@test.com?subject=PortfolioContact" "email me">Test7@test.com</a></p>
  </div>
  
  <div class="col-md-6">
    <h4>Here is a random place</h4>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d187206.06735303276!2d-106.464963
   60845661!3d42.84973136755101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87609365c85e7a63%3
   A0x69cefc3917343e53!2sCasper%2C+WY!5e0!3m2!1sen!2sus!4v1499965659910" width="300" height="300" 
   frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>